<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/style.css" />
    <script src="index.js"></script>
    <title>Home</title>
  </head>
  <body>
       <nav>
      <div class="left-side">
        <a href="/">
          <img src="/public/assets/logo.png" alt="logo" />
        </a>
        <ul>
          <li>
            <a href="/"class="home">Home</a>
          </li>
          <li>
            <a href="blog" class="list-active">Blog</a>
          </li>
        </ul>
      </div>
      <div class="right-side">
        <a href="contact"> Contact Me </a>
      </div>
    </nav>

    <div class="container">
      <div class="selection">
        <div class="left">
            <div class="coloum">
                <img class="img" src="/public/assets/conto.jpg" alt="" />
                <h3>Deby Trisandi</h3>
                <p>
                    While superheroes have assimilated into Parisian society, a new drug
                    gives super powers to mere mortals.
                </p>
                <table class="table" border="1"
                    <tr>
                        <th>Experience</th>
                        <th>Year</th>
                    </tr>
                    <tr>
                        <th>Developer Mobile App</th>
                        <th>2020</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="right">
        <h1>What i do</h1>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged.
          </p>
          <span class="skill">
            <span>
              <img src="/public/assets/js.png" alt="" />
              <h3>Frontend Developer</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum,temporibus.
              </p>
            </span>
            <span>
              <img src="/public/assets/git.png" alt="" />
              <h3>Version Control</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum,temporibus.
              </p>
            </span>
            <span
              ><img src="/public/assets/deploy.png" alt="" />
              <h3>Automated Deployment</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum,temporibus.
              </p>
            </span>
          </span>
          <h1>Found Me on</h1>
          <span class="sosmed-list">
            <a href="https://www.facebook.com/"
              ><img src="/public/assets/facebook.png" alt="facebook" target="_blank"
            /></a>
            <a href="https://twitter.com/"
              ><img src="/public/assets/twitter.png" alt="twitter" target="_blank"
            /></a>
            <a href="https://www.instagram.com/"
              ><img src="/public/assets/instagram.png" alt="instagram" target="_blank"
            /></a>
            <a href="https://www.gmail.com/"
              ><img src="/public/assets/mail.png" alt="mail" target="_blank"
            /></a>
            <a href="wa.me/000000000"
              ><img src="/public/assets/whatsapp.png" alt="whatsapp" target="_blank"
            /></a>
          </span>
        </div>
      </div>
    </div>
  </body>
</html>
